* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header,
section h2,
section h3,
form button {
    font-family: 'Sedgwick Ave Display', cursive;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

body > header {
    padding: 16px 0;
    background-color: green;
    color: white;
}

header h1 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.palmeiras-history {
    max-height: 800px;
    max-width: 1000px;
    margin-bottom: 16px;
    height: auto;
    width: auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

#about h2 {
    margin-bottom: 16px;
    color: green;
}

#about h2 {
    font-size: 32px;
}

section {
    color: #ffffff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section p {
    margin-bottom: 8px;
}

#about {
    background-color: rgb(72, 255, 72);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

#news {
    padding: 16px 0;
    background-color: rgb(28, 148, 28);
}

#news h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

#news .articles article a {
    background-color: rgb(1, 75, 1);
    color: #ffffff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    font-size: 24px;
    color: rgb(71, 241, 71);
}

#news h2 {
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
    align-items: center;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

#contact h3 {
    margin-bottom: 12px;
    font-size: 20px;
    margin-top: 16px;
    font-weight: normal;
}

form button {
    background-color: green;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(30, 228, 30);
}

input:focus, textarea:focus {
    outline-color: green;
}

footer {
    background-color: rgb(1, 78, 1);
    color: #ecf0f1;
    padding: 16px 0;
}

#contact {
    background-color: rgb(19, 83, 19);
}

#contact h2 {
    font-weight: normal;
    font-size: 32px;
}

#house img {
    max-height: 620px;
    max-width: 810px;
    margin-bottom: 16px;
    margin-top: 16px;
    height: auto;
    width: auto;
}

#house {
    background-color: green;
}

#house h3 {
    font-size: 32px;
    font-weight: normal;
}